body{
    font-family: 'Supermercado One', cursive;
}
h1{
    font-size: 50px;
}
.green-color{
    color: darkgreen;
}
section{
    display: flex;
}
.half-withd{
    width: 50%;
    padding: 2px;
}
.half-withd img{
    width:90%
}
.link-button{
    text-decoration: none;
    background-color: darkorange;
    padding: 10px;
    border-radius: 5px;
}